<div class="container">
<div class="content form-signin pull-right" style="max-width: 85%; padding-top: 20px;">
	<form id="newPostForm">
	<div class="form-group">
		<label for="titleInput">Title</label>
		<input type="text" class="form-control" id="titleInput" value="<%-post.title%>">
	</div>
	<div class="form-group">
		<label for="redactor_content">Content</label>
		<textarea class="form-control" rows="10" id="redactor_content"><%-post.content%></textarea>
	</div>
		<input type="hidden" value="<%-post.id%>" id="postId"/>
	
		<button id="createPostButton" type="submit" class="btn btn-success">Create</button>

</form>
</div>
	
</div>

<script type="text/javascript">
	var photos = new Array();

	document.getElementById('titleInput').focus();
	$("#createPostButton").click(function() {
		event.preventDefault();
		var title = $("#titleInput").val();
		var content = $("#redactor_content").val();				
		var id = $("#postId").val();

		if (title && content) {
			if (id == "" ) { 
				$.post(
					'/posts/create',
					{title: title, content: content},
					function(res) {
						id = res.thepost.id;
						alert(res.thepost.id);


						if (photos.length > 0) {
					$.post(
						'/photos/create',
						{postId: id, photos: photos},
						function(res) {
							alert("photos added!");
						}
					);
				}
					}
				);



			}
				// $.post(
				// 	'/posts/create',
				// 	{title: title, content: content},
				// 	function(res) {
				// 		alert("Post created?");
				// 		id = res.thepost.id;
				// 	}).done(function(res) {
				// 		alert("Done!");
				// 	});
						
				// 	if (photos.length > 0) {
				// 		$.post(
				// 			'/photos/create',
				// 			{postId: id, photos: photos},
				// 			function(res) {
				// 				console.log("photos added to album!");
				// 			}	
				// 		)};
				// 		window.location = "/posts";
				// 	}

				 else {
					console.log(id);
					$.post(
						'/posts/edit',
						{title: title, content: content, id: id},
						function() {
							window.location = "/posts";
						}
					).fail(function(res) {
						alert("Error: " + res.getResponseHeader("error"));
					});
				}
		} else {
			alert("Error:  Please complete all fields")
		}
	});
	$(document).ready(function() {
		$('#redactor_content').redactor({
			imageUpload: '/photos/upload',

			imageUploadCallback: function(image, json) {
				photos[photos.length] = json.filelink;
				
			}
		});
	});
</script> 


<script type="text/javascript">
	
</script>



<script type='text/javascript'>



/*
function main()
{
    var inputFileToLoad = document.createElement("input");
    inputFileToLoad.type = "file";
    inputFileToLoad.id = "inputFileToLoad";
    document.body.appendChild(inputFileToLoad);

    var buttonLoadFile = document.createElement("button");
    buttonLoadFile.onclick = loadImageFileAsURL;
    buttonLoadFile.textContent = "Load Selected File";
    document.body.appendChild(buttonLoadFile);
}

function loadImageFileAsURL()
{
    var filesSelected = document.getElementById("inputFileToLoad").files;
    if (filesSelected.length > 0)
    {
        var fileToLoad = filesSelected[0];

        if (fileToLoad.type.match("image.*"))
        {
            var fileReader = new FileReader();
            fileReader.onload = function(fileLoadedEvent) 
            {
                var imageLoaded = document.createElement("img");
                imageLoaded.src = fileLoadedEvent.target.result;
                document.body.appendChild(imageLoaded);
                //$("#contentInput").append(imageLoaded);
            };
            fileReader.readAsDataURL(fileToLoad);
        }
    }
}

main(); */
</script>