
	<a href="/"><img src="images/gingerbread.png" width="50" height="50" style="margin-bottom: 10px;"></a>
	<br />


	<button class="btn btn-lg btn-block shadowy" style="letter-spacing: .15em; border: 0px; background-color: #79D631; font-weight: bolder; margin-bottom: 10px;">About</button><br/>
	<button id="postButton" class="btn btn-lg btn-block shadowy" style="letter-spacing: .15em; border: 0px; background-color: #A060D1; font-weight: bolder; margin-bottom: 10px;">Blog</button><br/>
	<button id="albumButton" class="btn btn-lg btn-block shadowy" style="letter-spacing: .15em; border: 0px; background-color: #2BB6ED; font-weight: bolder; margin-bottom: 30px;">Album</button>
	<button class="btn btn-lg btn-block shadowy" style="letter-spacing: .15em; border: 0px; background-color: #EDC240; font-weight: bolder; margin-bottom: 10px;">Contact</button>

<script type="text/javascript">
	$("#postButton").click(function(event) {
		window.location = '/posts';
	});
	$("#albumButton").click(function(event) {
		window.location = '/photos';
	});
</script>