<a class="btn btn-danger btn-block mybtn btn-responsive shadowy" style="background-color: #79D631" href="#">Blog</a>
<a class="btn btn-success btn-block mybtn btn-responsive shadowy"  style="background-color: #A060D1" href="#">Album</a>
<a class="btn btn-danger btn-block mybtn btn-responsive shadowy" style="background-color: #2BB6ED" href="#">About</a>
<a class="btn btn-danger btn-block mybtn btn-responsive shadowy"  style="background-color: #EDC240"href="#">Contact</a>