<button class="mybtn btn btn-lg btn-block shadowy" style="background-color: #79D631">About</button><br/>
<button id="postButton" class="mybtn btn btn-lg btn-block shadowy" style="background-color: #A060D1">Blog</button><br/>
<button id="albumButton" class="mybtn btn btn-lg btn-block shadowy" style="background-color: #2BB6ED">Album</button><br/>
<button class="mybtn btn btn-lg btn-block shadowy" style="background-color: #EDC240">Contact</button><br/>

<script type="text/javascript">
	$("#postButton").click(function(event) {
		window.location = '/posts';
	});
	$("#albumButton").click(function(event) {
		window.location = '/photos';
	});
</script>