	<div class="content" style="text-align: center">
		<h1><strong>Welcome to parkimoto.com!</strong></h1>
		<h3>This website is fiercely under construction...</h3>
		<h3>...but feel free to poke around!</h3>
	</div>
		